<a href="https://colab.research.google.com/github/francistshimbombontata/apprentissage_machine_learning/blob/main/Initiation_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linear Regression
In this lab, we will use a real dataset to train a model to predict the fare of a taxi ride in Chicago, Illinois.

## Learning Objectives
After completing this Colab, you'll be able to:

  * Read a .csv file into a [pandas](https://developers.google.com/machine-learning/glossary/#pandas) DataFrame.
  * Explore a [dataset](https://developers.google.com/machine-learning/glossary/#data_set) with Python visualization libraries.
  * Experiment with different [features](https://developers.google.com/machine-learning/glossary/#feature) to build a linear regression model.
  * Tune the model's [hyperparameters](https://developers.google.com/machine-learning/glossary/#hyperparameter).
  * Compare training runs using [root mean squared error](https://developers.google.com/machine-learning/glossary/#root-mean-squared-error-rmse) and [loss curves](https://developers.google.com/machine-learning/glossary/#loss-curve).

## Dataset Description
The [dataset for this exercse](https://download.mlcc.google.com/mledu-datasets/chicago_taxi_train.csv) is derived from the [City of Chicago Taxi Trips](https://data.cityofchicago.org/Transportation/Taxi-Trips/wrvz-psew). This dataset is a subset of the Taxi Trips data, and focuses on a two-day period in May of 2022.

## Dependencies

* [Keras](https://keras.io/getting_started/)
* [Matplotlib](https://matplotlib.org/stable/users/explain/quick_start.html)
* [Numpy](https://numpy.org/doc/stable/user/basics.html)
* [Pandas](https://pandas.pydata.org/docs/getting_started/index.html#getting-started)
* [Tensorflow](https://www.tensorflow.org/guide/keras)
* [Plotly](https://plotly.com/python/)
* [Seaborn](https://seaborn.pydata.org/tutorial.html)

In [2]:
#@title 1. Code - Import dependencies

# general
import io

#data
import numpy as np
import pandas as pd

# machine learning
import keras

# data visualization
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import seaborn as sns

In [4]:
# @title 2. Load the Dataset
chicago_taxi_dataset = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/chicago_taxi_train.csv")

In [5]:
#@title 3. Update the Dataframe

# We update the dataframe 'chicago_taxi_dataset' to use specific columns only
trainig_df = chicago_taxi_dataset[['TRIP_MILES', 'TRIP_SECONDS', 'FARE', 'COMPANY', 'PAYMENT_TYPE', 'TIP_RATE']]
print('Total number of rows : {0}\n\n'.format(len(trainig_df)))
trainig_df.head(200)

Total number of rows : 31694

,TRIP_MILES,TRIP_SECONDS,FARE,COMPANY,PAYMENT_TYPE,TIP_RATE
0,2.57,2341,31.99,Flash Cab,Mobile,6.3
1,1.18,1074,9.75,Flash Cab,Credit Card,27.9
2,1.29,1173,10.25,Sun Taxi,Cash,0.0
3,3.70,3360,23.75,Choice Taxi Association,Cash,0.0
4,1.15,1044,10.00,Flash Cab,Cash,0.0
...,...,...,...,...,...,...
195,1.13,821,9.00,Blue Ribbon Taxi Association,Mobile,22.9
196,0.57,414,6.00,Flash Cab,Cash,0.0
197,1.22,886,9.00,City Service,Cash,0.0
198,1.68,1219,9.00,Sun Taxi,Mobile,23.0
199,0.71,515,6.50,Sun Taxi,Credit Card,18.2